<ng-container *ngFor="let product of products$ | async">
  <div class="product-container" (click)="showProductDetails(product.id)">
    <div class="img-container">
      <img
        [appBase64Src]="product.images[0].base64Image"
        [alt]="product.name"
      />
    </div>
    <div class="product-details">
      <h6>{{ product.name }}</h6>
      <p class="description">{{ product.description }}</p>
    </div>
    <div class="price-details">
      <h6>{{ product.price | paiseToRupee }}</h6>
    </div>
  </div>
</ng-container>
<mat-paginator
  #paginator
  class="demo-paginator"
  (page)="handlePageEvent($event)"
  [length]="totalProducts$ | async"
  [pageSize]="pageSize$ | async"
  [showFirstLastButtons]="true"
  [pageIndex]="currentPage$ | async"
  aria-label="Select page"
>
</mat-paginator>
