<div class="container-fluid">
  <div class="row">
    <form [formGroup]="productForm" class="col-md-6">
      <div class="container-fluid">
        <div class="row">
          <!-- Name Field -->
          <mat-form-field appearance="outline" class="col-12 mb-3">
            <mat-label>Product Name</mat-label>
            <input
              matInput
              formControlName="name"
              placeholder="Enter product name"
            />
            <mat-error *ngIf="productForm.get('name')?.hasError('required')"
              >Product name is required</mat-error
            >
            <mat-error *ngIf="productForm.get('name')?.hasError('minlength')"
              >Name must be at least 3 characters long</mat-error
            >
          </mat-form-field>

          <!-- Description Field -->
          <mat-form-field appearance="outline" class="col-12 mb-3">
            <mat-label>Product Description</mat-label>
            <textarea
              matInput
              formControlName="description"
              placeholder="Enter product description"
            ></textarea>
            <mat-hint>Max 255 characters</mat-hint>
          </mat-form-field>

          <!-- Price Field -->
          <mat-form-field appearance="outline" class="col-md-6 mb-3">
            <mat-label>Price (in Rs)</mat-label>
            <input
              matInput
              formControlName="price"
              type="number"
              placeholder="Enter price in Rs"
            />
            <mat-error *ngIf="productForm.get('price')?.hasError('required')"
              >Price is required</mat-error
            >
            <mat-error *ngIf="productForm.get('price')?.hasError('min')"
              >Price must be greater than or equal to 0</mat-error
            >
          </mat-form-field>

          <!-- Stock Quantity Field -->
          <mat-form-field appearance="outline" class="col-md-6 mb-3">
            <mat-label>Stock Quantity</mat-label>
            <input
              matInput
              formControlName="stockQuantity"
              type="number"
              placeholder="Enter stock quantity"
            />
            <mat-error
              *ngIf="productForm.get('stockQuantity')?.hasError('required')"
              >Stock quantity is required</mat-error
            >
            <mat-error *ngIf="productForm.get('stockQuantity')?.hasError('min')"
              >Quantity must be greater than or equal to 0</mat-error
            >
          </mat-form-field>
        </div>
      </div>
    </form>

    <div class="col-md-6">
      <div class="img-wrapper">
        <label for="file" class="upload-label">
          <span *ngIf="!imagePreview">Upload Product Image</span>
          <img *ngIf="imagePreview" [src]="imagePreview" alt="Image Preview" />
        </label>
        <input type="file" id="file" (change)="onFileChange($event)" />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <button
        class="ms-3"
        mat-raised-button
        color="primary"
        [disabled]="productForm.invalid"
        (click)="onSubmit()"
      >
        Add Product
      </button>
    </div>
  </div>
</div>
