.product-img {
    width: 9rem;
    height: 9rem;
    object-fit: contain;
}

.empty-cart-section {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    mat-icon {
        height: 20rem;
        width: 20rem;
        font-size: 20rem;
        color: #989898;
    }
}
