<mat-toolbar color="accent">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon color="primary">menu</mat-icon>
  </button>
  <span class="brand-name" (click)="gotToHome()">E-Store</span>
  <span class="example-spacer"></span>
  <button
    *ngIf="currentUser && isSeller()"
    mat-raised-button
    (click)="goToAddProduct()"
  >
    Add Product
  </button>
  <button
    *ngIf="currentUser"
    (click)="goToCart()"
    mat-icon-button
    class="example-icon favorite-icon cart-wrapper"
    aria-label="Example icon-button with cart icon"
  >
    <mat-icon color="primary">shopping_cart</mat-icon>
    <div class="cart-indcator-wrapper" *ngIf="cart?.items?.length">
      <span class="cart-items-number">{{ cart?.items?.length }}</span>
    </div>
  </button>
  <button
    mat-icon-button
    [matMenuTriggerFor]="menu"
    class="example-icon"
    aria-label="Example icon-button with account icon"
  >
    <mat-icon color="primary">account_circle</mat-icon>
  </button>

  <mat-menu #menu="matMenu" class="mt-2 me-2">
    <ng-container *ngIf="currentUser">
      <button mat-menu-item>
        <mat-icon>person-outline</mat-icon>
        <span>{{ currentUser.firstName }}</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </ng-container>

    <button mat-menu-item (click)="goToLogin()" *ngIf="!currentUser">
      <mat-icon>login</mat-icon>
      <span>Login</span>
    </button>
  </mat-menu>
</mat-toolbar>
