.example-spacer {
    flex: 1 1 auto;
}

.brand-name {
    cursor: pointer;
}

.cart-wrapper {
    position: relative;
    .cart-indcator-wrapper {
        z-index: 2;
        position: absolute;
        left: 20px;
        top: -5px;
        width: 20px;
        height: 20px;
        background: #e91e63;
        border-radius: 50%;
        font-size: medium;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
    }
}
