.wrapper {
    border: 1px #d5d9d9 solid;
    border-radius: 8px 8px;
}

.header {
    background-color: #f0f2f2;

    border-radius: 8px 8px 0 0;
}

.product-img {
    width: 5rem;
    height: 5rem;
    object-fit: contain;
}
